.row0 {
    background: LightSalmon;
}
.row1 td {
    background: Khaki;
}
.row2 td {
    background: Lavender;
}
.row3 td {
    background: LightGray;
}
.row4 td {
    background: #24D2C4;
}
.row5 td {
    background: #98FB98;
}
.row6 td {
    background: #778899;
}
